

<ion-content [fullscreen]="true" >

  <div id="container">

    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col" >               
          <ion-router-link href="https://www.figma.com/" target="_blank"> 
            <ion-img src="../../../assets/figma.jpg" style="width: 50%;display: inline-block;">             
            </ion-img>
          </ion-router-link>            
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          File not found
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <p>
            Either this file doesn’t exist or you don’t have permission to view it. Ask the file owner to verify the link and/or update permissions.
          </p>
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <ion-button expand="block" color="dark" class=" font-weight-bold border border-dark" href="/#/home" >Log in </ion-button>
        </div>
        <div class="col"></div>
      </div>

      
    </div>
  
  
  </div>
</ion-content>

