<ion-header [translucent]="true" id="title">
  <ion-toolbar  color="dark">
    <ion-title >
      Figma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div id="container">

    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          Enter your email to reset password
        </div>
        <div class="col"></div>
      </div>
      <br>
      <form [formGroup]="myFormPass" (ngSubmit)="actionFormPass()">
        <div class="row">
          <div class="col"></div>
          <div class="col">       
              <ion-input style="border-width: 4px !important;" formControlName="email" class="border border-dark" placeholder="Email"></ion-input>         
          </div>
          <div class="col"></div>
        </div>
        <br>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ion-button expand="block" [disabled]="!myFormPass.valid" type="submit" color="dark" class=" font-weight-bold border border-dark">Reset password </ion-button>
          </div>
          <div class="col"></div>
        </div>
      </form>     
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col" style="font-size: small;">          
          <ion-router-link href="/#/home"> Cancel </ion-router-link>
        </div>
        <div class="col"></div>
      </div>
      
    </div>
  
  
  </div>
</ion-content>

