<ion-header [translucent]="true" id="title">
  <ion-toolbar color="dark">
    <ion-title >
      Figma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div id="container">

    <div class="container">
      <div class="row">
          <div class="col"></div>
          <div class="col">
            <ion-button expand="block" color="dark" class=" font-weight-bold border border-dark">
              <ion-icon name="logo-google"></ion-icon>
              &nbsp; Sign up with Goole
            </ion-button>
          </div>
          <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          or 
        </div>
        <div class="col"></div>
      </div>
      <br>
      <form [formGroup]="formsacc" (ngSubmit)="actionFormAcc()">
          <div class="row">
            <div class="col"></div>
            <div class="col">          
                <ion-input formControlName="name"  class=" border border-dark" placeholder="Email"></ion-input>         
                <span style="color: red; text-align: center;" class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                  Please provide your email.
                </span> 
            </div>
            <div class="col"></div>
          </div>
          <br>
          <div class="row">
            <div class="col"></div>
            <div class="col">
                <ion-input formControlName="pass" class=" border border-dark" placeholder="password" type="password"></ion-input>
                <span style="color: red; text-align: center;" class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.required">
                  Please set a password
                </span> 
                <span style="color: red; text-align: center;" class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.minlength">
                  Please set a password longer than seven characters.
                </span> 
            </div>
            <div class="col"></div>
          </div>
          <br>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <ion-button type="submit" expand="block" color="dark" class=" font-weight-bold border border-dark">Create account</ion-button>
            </div>
            <div class="col"></div>
          </div>
      </form>      
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col">          
          <ion-router-link href="/#/saml"> Sign up with SAML SSO</ion-router-link>
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col" >
          Already have an account? <ion-router-link href="/#/home">Log in </ion-router-link>
        </div>
        <div class="col"></div>
      </div>
    </div>
  
  
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="row">
      <div class="col"></div>
      <div class="col" style="text-align: center;">
        This site is protected by reCAPTCHA and the Google 
        <ion-router-link target="_blank" href="https://policies.google.com/privacy">Privacy Policy</ion-router-link> and 
        <ion-router-link target="_blank" href="https://policies.google.com/terms">Privacy Policy</ion-router-link> apply.
      </div>
      <div class="col"></div>
    </div>   
  </ion-toolbar>
</ion-footer>
